[user]
	name = jedrzej.ratajczak
	email = mrozelek@gmail.com

[core]
	editor = nvim
	pager = delta

[delta]
	line-numbers = true
	syntax-theme = base16

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[fetch]
	prune = true

[merge]
	conflictstyle = zdiff3

[rerere]
	enabled = true

[diff]
	algorithm = histogram
	colorMoved = default

[branch]
	sort = -committerdate

[transfer]
	fsckObjects = true

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --oneline --graph --decorate
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
