*.swp
*.swo
*~
.cache/
.zcompdump
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/local.zsh
hyprland/.config/hypr/monitors.conf
hyprland/.config/hypr/colors.conf
hyprland/.config/hypr/hyprlock-colors.conf
rofi/.config/rofi/colors.rasi
yazi/.config/yazi/theme.toml
qt6ct/.config/qt6ct/colors/material-you.conf
waybar/.config/waybar/colors.css
kitty/.config/kitty/current-theme.conf
