[Unit]
Description=Nilnotify notification daemon
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/nilnotify

[Install]
WantedBy=graphical-session.target
